*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  font-family: 'Actor', sans-serif !important;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  text-align: justify;
}

h1{font-size: 2.5em;}
h2{font-size: 2em;}
p{font-size: 1em;}

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  text-align: center;
}
/*Grid definitions*/

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}


/*Header and Nav-Bar*/

header {
  position: relative;
  top: 0;
  width: auto;
  height: 12%;
  background-color: transparent;
}
header h2 {
  font-size: 1.5em;
  display: block;
  position: relative;
  top: 2.5vh;
  padding: 20px 0 0 30px;
  float: left;

}


.menu {
  float: right;
  position: relative;
  top: 5vh;
}
.menu ul{
  list-style: none;
}
.menu ul li{
  display: block;
  float: left;
  padding: 3px 15px;
  margin-right: 10px
}
.menu-item {
  text-decoration: none;
  color: #d7d7c1;
  font-size: 1em;
  letter-spacing: 5px;
  font-weight: bolder;
  text-shadow: 0px 0px 3px #000;
}

.icon a {display: none;}

@media screen and (max-width: 880px){
   .menu ul li:not(:last-child) {
      display: none;
      width: 100%;
    }   

   .icon {width:100%;}

   .icon a {
    display: inline-block;
  }
}


/*--------------------------------*/


/*Home Page sections*/
.Page-section{
  min-height: 100vh;
  width: 100%;
  color: #8c8c8c;
  display: block;
}

#front {
  height: 100vh;
 
}

#greeting{
  padding: 5% 10% 10% 2% ;
  color: white;
  font-size: 3em;font-weight:500;
  text-shadow: 0px 0px 3px #000;
  text-align: left;

}
#greeting h1{
  padding-bottom: 3vh ; 
}

#summary{
  min-height: 105vh;
  color: #8c8c8c;
}

#summary-text{
  position: relative;
  min-height: 100%;
  width: 100%;
  font-size: 1.5em;
}

#vincenzo{
  width: 25%;
  height: auto;
  position: relative;
  display: block;
  float: left;
  top: 10vh;
  left: 20vh;

  border: 1px solid black;

  visibility: hidden;
}
.multiple-borders {
  -webkit-box-shadow:
        0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
     -moz-box-shadow:
        0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
  
          box-shadow:
        0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
}

#vincenzo-intro{  
  display: inline-block;
  padding-top: 20vh;
  margin-left: 20vw;
  padding-bottom: 5vh;
  width: 50%;
  height: auto;
  text-align: justify;
}
#vincenzo-intro h1{
  padding-bottom: 2.5vh;
}


@media screen and (max-width: 768px){
  #vincenzo{
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    left: 25%;
  }

  #vincenzo-intro{
    display: block;
    position: static;
    padding-top: 75vh;
    padding-bottom: 10vh;
    margin-left: 0;
    width: 100%;
    height: auto;

  }
}

@media screen and (max-width: 480px){
  #vincenzo{
    display: block;
    width: 50%;
    height: auto;
    position: absolute;
    left: 25%;
  }

  #vincenzo-intro{
    display: block;
    position: static;
    padding-top: 55vh;
    width: 100%;
    height: auto;

  }
}


#contact{
  height: 90vh;
  background-color:#131339;
  
  color: #d7d7c1;
}
#contact div{
  position: relative;
  width: auto;
  top:20vh;
}

#contact h1 {
  font-size: 2em;
  padding-bottom: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
}
#contact h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 25px;
  text-shadow: 0px 0px 3px #000;
}

.btn{
  border-radius: 2px;
  display: inline-block;
  margin: 10px;
  padding: 16px 24px;
  background-color: white;
  border: 4px solid #8c8c8c;
}
.btn:hover{
  background-color: black;
  color: #d7d7c1;
  border: 4px solid black;
  -webkit-transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;        
          transition: all 0.3s ease-in-out 0s;
}

footer {
  height: 10vh;
  background-color: black;
  position: relative;
  bottom: 0;
  width: auto;

  text-align: center;
}

footer nav ul{
  list-style: none;
}
footer nav ul li{
  display: inline-block;
  padding: 20px 15px;
}
footer nav ul li a {
  text-decoration: none;
  color: #d7d7c1;
}

footer nav ul li a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;        
          transition: all 0.3s ease-in-out 0s;
}



/*========================================*/

/*        Profile Page                    */

/*========================================*/

#second-page-front{
  height: 50vh;
  width: auto;
}
#Description, #Awards, #CV {
  margin: 0 auto;
  display: block;
  margin: 5% 10% 5% 10%;
  text-align: left;
  font-size: 25px;
  line-height: 35px

}

.title {  
  text-align: center;
  font-size: 36px;
  margin-bottom: 1%;
  text-decoration: none;
  color: black;
  padding-bottom: 2.5vh;
}
#CV button{
  margin: 0 auto;
  display: block;
  height: 100px;
  width: 200px;
  font-size: 25px;

}

@media screen and (max-width: 480px){
  #Description, #Awards, #CV {
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
}



 #Description .title{
  margin-top: 10vh;
  margin-bottom: 2.5vh;
 }
}

/*========================================*/

/*        Hobbies Page                    */

/*========================================*/
#third-page-front{
  height: 50vh;
  width: auto;
}

.row {
  padding: 5vh 5vw 5vh 5vw;
}

#sport-slick, #travel-slick{left: 10vw}
#sport-slick img{ 
  width: 100%;
  height: auto;
}

#travel-slick img {  
  width: 100%;
  height: auto; 
}

@media only screen and (max-width: 768px) {
  #sport-slick. #travel-slick{
    width:100%;
  }

  #sport-slick img{ 
  padding-top: 10vh;
  width: 80%;
  height: auto;
  }

  #travel-slick img {  
    padding-top: 10vh;
    width: 80%;
    height: auto; 

  }
  
  #sport-text, #travel-text{
    
    margin-top: 5vh;
  }
}



/*========================================*/

/*        Blog Page                       */

/*========================================*/
#forth-page-front{
  height: 50vh;
  width: auto;
}






/*==========================================*/
         
/*            Contact Page                  */

/*==========================================*/
#fifth-page-front{
  height: 50vh;
  width: auto;
  background-clip: 
}

#Contact-section{
  min-height: 75vh;
  width: 100%;
  color: #8c8c8c;
  display: block;
}


#connect{
  padding-top: 10vh;
  padding-bottom: 5vh;
  
}

form {  
  width: auto;
  
}

input, textarea {
  width: 50vw;
  border: 1px solid #999;
  margin-bottom: 4vh;
}

input {
  height: 7vh;
}

input:focus, textarea:focus {
  border-color: #000;
}
textarea {
 vertical-align: top;
 height: 15vh;
 resize: vertical;
}
form button {
  width: 50vw;
  height: 8vh;

}



/*======================================*/

/*        Animation and Effects         */

/*======================================*/


/*Underline animation for links*/
.underline {
  position: relative;
  color: #d7d7c1;
  text-decoration: none;
}

.underline:hover {
  color: #d7d7c1;
}
.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d7d7c1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);     
          transform: scaleX(0);
  
  -webkit-transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;        
          transition: all 0.3s ease-in-out 0s;
}
.underline:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(.75);
     -moz-transform: scaleX(.75);        
          transform: scaleX(.75);
}
/* --------------------------- */

/*Parallax effect*/
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/*----------------------------*/